.container {
  width: 100%;
  height: 100%;
  padding: 10px 100px;
}

.detail {
  width: 350px;
  padding: 30px;
  margin: 0 auto;
  border-radius: 2%;
  background-color: #fff;
}

.link {
  width: 200px;
  margin: 0 auto;
  display: flex;
}

.button.button {
  flex: 1;
  margin: 10px;
}

.button.button:hover {
  border: 1px solid #3c6e71;
  color: #3c6e71;
}

.savebutton.savebutton {
  background-color: #3c6e71;
  color: #fff;
}