.container {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color:#284b63;
}

.form.form {
  width: 300px;
  height: 340px;
  padding: 20px;
  margin: 30px auto;
  border-radius: 1%;
  background-color: #ffffff;
}

.text {
  text-align: center;
  margin-bottom: 30px;
}

.input.input {
  margin: 10px 0;
}

.button.button {
  height: 40px;
  margin: 20px 0;
  color: #ffffff;
  background-color:#9A8C98;
}

.error {
  color: red;
}