.container {
  padding: 10px 100px;
  background-color: #d9d9d9;
}

.table {
  background-color: #fff;
}

.form.form {
  width: 400px;
  height: 180px;
  padding: 20px;
  margin: 0 auto;
  position: relative;
}

.inputContainer {
  width: 350px;
  display: flex;
  margin: 10px auto;
}

.text {
  flex: 1;
  margin: auto;
  display: inline;
}

.input.input {
  flex: 3;
}

.button.button {
  right: 25px;
  width: 268px;
  display: flex;
  margin: 10px auto;
  position: absolute;
}

.searchButton.searchButton {
  flex: 1;
  border: 0;
  margin-left: 10px;
  background-color: #3c6e71;
}

.searchButton.searchButton:hover {
  background-color: #89b0b3;
}

.clearButton.clearButton {
  flex: 1;
  border: 0;
  color: #353535;
  margin-right: 10px;
  background-color: #fff;
}

.clearButton.clearButton:hover,
.searchButton.searchButton:focus {
  background-color: #89b0b3;
}

.searchButton.searchButton::selection {
  background-color: #3c6e71;
  border: 5px dotted ;
}